.grid {
  display: grid;
  gap: 10px 5px;
  grid-template-columns:
    [column-1-left] auto [column-1-left] auto [column-1-left] auto;
}

@media screen and (max-width:450px) {
  .Left-Info {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }

  .Center-Info {
    display: grid;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  }

  .Rigth-Info {
    display: grid;
    grid-row: 3 / 3;
    grid-column: 1 / 1;
  }

  .App-Info {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    gap: 10px 20px;
  }

  .card {
    grid-column: 1 / 3 !important;
  }

  .card1 {
    grid-row: 1 / 2 !important;
  }

  .card2 {
    grid-row: 3 / 4 !important;
  }

  .card3 {
    grid-row: 5 / 6 !important;
  }

  .card4 {
    grid-row: 7 / 8 !important;
  }

  .card5 {
    grid-row: 9 / 10 !important;
  }
}

.Left-Info {
  display: grid;

}

.container {
  padding: 30px 30px 30px 30px;
  display: grid;
  justify-content: center;
  align-items: center;

}

.Skill1-Icon {
  padding-top: 30px;
}

.containerleft {
  padding: 30px 30px 30px 30px;

}

.Soft-Skills {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-gap: 30px 1px;
}

.softskills {
  padding-bottom: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container-l {
  padding: 30px 30px 30px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px 20px;

}

.traslate {
  background: #7AA2F7;
}

.check {
  position: relative;
  width: 50px;
}

.check:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background: #23263a;
  border-radius: 25px;
}

.check:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: #101117;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #7AA2F7;
  box-sizing: border-box;
}

.check:checked:after {
  left: 25px;
  border: 2px solid #7AA2F7;
}

.check:checked:before {
  background: #7AA2F7;
}

.element {
  background-color: #101117;
  color: aliceblue;
}

body {
  display: grid;
  background-color: #1A1B26;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;

}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

body::-webkit-scrollbar {
  width: 7px;
  background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.208);
  border-radius: 5px;
}

.element {
  background-color: #16161E;
  color: aliceblue;
  border-radius: 15px;
}

.Center-Info {
  display: grid;
  justify-content: center;
}

.leng {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  padding-bottom: 30px;
}

.Photo {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid #858598;
  grid-column: 1 / 4;

}

.Photo img {
  border-radius: 50%;


}

.Name {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
  grid-column: 1 / 4;
}

.AboutMe {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  grid-template-columns: 250px;
  grid-column: 1 / 4;

}

.Contact {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  grid-template-columns: 250px;
  grid-column: 1 / 4;

}

.linear {
  display: grid;
  grid-column: 1 / 4;
  grid-row: auto;
  justify-content: center;
  align-items: center;
}

.linear a {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid;
  color: #fff;
}

.Aboutt a {
  border: none !important;
}

.linear a img {
  width: 100%;
  height: 100%;
}




a:hover {
  background-color: #7AA2F7;
  transition: 300ms ease;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  cursor: pointer;
}

.Hobbies {
  display: grid;
  grid-column: 1 / 7;
  padding-bottom: 30px;
  grid-template-rows:
    [row-1-h3] auto [row-2-hobb1] auto [row-3-hobb2] auto [row-4-hobb3] auto [row-5-hobb4] auto;

  grid-template-columns:
    [col-1-h3] auto [col-2-hobb1] auto [col-3-hobb2] auto [col-4-hobb3] auto [col-5-hobb4] auto;

  grid-gap: 20px 10px;
}

.title {
  padding-top: 30px;
  grid-column: 1/7;
  display: grid;
  justify-content: center;
  align-items: center;

}

.hobb.A {
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 4;
  grid-row: 2 / 6;
}

.hobb.B {
  text-align: center;
  grid-column: 4 / 7;
  grid-row: 2 / 6;
  display: grid;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.hobb.BB {
  text-align: center;
  grid-column: 4 / 7;
  grid-row: 2 / 6;
  display: grid;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.linear.B a {
  margin-left: 10px;
}

.linear.BB a {
  margin-left: 20px;
}

.linear.AA a {
  margin-left: 5px;
}

.hobb.C {
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 6 / 10;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hobb.D {
  text-align: center;
  grid-column: 4 / 7;
  grid-row: 6 / 10;
  display: grid;
  justify-content: center;
  align-items: center;
}

.Info {
  background: #858598;
}

.A {
  grid-column: 1 / 8;
}

.B {
  grid-column: 1 / 8;
}



.element.Study-Icon {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.linear.Study-Icon {
  display: grid;
  justify-content: start !important;
  align-items: center;
  grid-column: 1 / 3 !important;
}

.line {
  border: 1px solid #fff;
  background-color: #fff;
  grid-column: 1/5;
}

.element.Study-Info {
  padding-top: 30px;
  font-size: 0.5cm;
  text-align: left;
}

.linear.Proyect-Icon {
  display: grid;
  justify-content: start !important;
  align-items: center;
  grid-column: 1 / 3 !important;
}

.element.Proyect-Info {
  padding-top: 30px;
  font-size: 0.5cm;
  text-align: left;
}

.element.Skill1-Info {
  padding-top: 30px;
  font-size: 0.5cm;
  text-align: left;
}

.element.Skill2-Info {
  padding-top: 30px;
  font-size: 0.5cm;
  text-align: left;
}

.skill style {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
}

.skill {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

}

.skill:before {
  width: 98%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #23263a;
  bottom: 0;
}

.colbars {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
}

.skill p {
  color: #fff;

}

.skill-count {
  right: 0;
}


.skill-bar span:after {
  border-style: solid;
  border-width: .3125rem .3125rem 0 0;
  border-color: #fff transparent transparent transparent;
  bottom: -.4375rem;
  content: "";
  left: 1.375rem;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  position: absolute;
}

.skill-bar style {
  width: 88%;
  visibility: visible;
  animation-name: slideInLeft;
}

.skill-bar {
  width: 50%;
  height: 5px;
  display: block;
  position: relative;
  background: #7AA2F7;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar span {
  border: .125rem solid #fff;
  position: absolute;
  top: -36px;
  font-size: 12px;
  padding: 0 12px !important;
  font-weight: 500;
  border-radius: 6px;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar ::after,
::before {
  box-sizing: border-box;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}


.skill-bar2 span:after {
  border-style: solid;
  border-width: .3125rem .3125rem 0 0;
  border-color: #fff transparent transparent transparent;
  bottom: -.4375rem;
  content: "";
  left: 1.375rem;
  position: absolute;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar2 style {
  width: 88%;
  visibility: visible;
  animation-name: slideInLeft;
}

.skill-bar2 {
  width: 80%;
  height: 5px;
  display: block;
  position: relative;
  background: #7AA2F7;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar2 span {
  border: .125rem solid #fff;
  position: absolute;
  top: -36px;
  font-size: 12px;
  padding: 0 12px !important;
  font-weight: 500;
  border-radius: 6px;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar2 ::after,
::before {
  box-sizing: border-box;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar3 span:after {
  border-style: solid;
  border-width: .3125rem .3125rem 0 0;
  border-color: #fff transparent transparent transparent;
  bottom: -.4375rem;
  content: "";
  left: 1.375rem;
  position: absolute;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar3 style {
  width: 88%;
  visibility: visible;
  animation-name: slideInLeft;
}

.skill-bar3 {
  width: 70%;
  height: 5px;
  display: block;
  position: relative;
  background: #7AA2F7;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar3 span {
  border: .125rem solid #fff;
  position: absolute;
  top: -36px;
  font-size: 12px;
  padding: 0 12px !important;
  font-weight: 500;
  border-radius: 6px;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar3 ::after,
::before {
  box-sizing: border-box;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar4 span:after {
  border-style: solid;
  border-width: .3125rem .3125rem 0 0;
  border-color: #fff transparent transparent transparent;
  bottom: -.4375rem;
  content: "";
  left: 1.375rem;
  position: absolute;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar4 style {
  width: 88%;
  visibility: visible;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar4 {
  width: 90%;
  height: 5px;
  display: block;
  position: relative;
  background: #7AA2F7;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar4 span {
  border: .125rem solid #fff;
  position: absolute;
  top: -36px;
  font-size: 12px;
  padding: 0 12px !important;
  font-weight: 500;
  border-radius: 6px;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.skill-bar4 ::after,
::before {
  box-sizing: border-box;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

h3 {
  color: #7AA2F7;
}

h4 {
  color: #7AA2F7;
}


.App-Info {
  display: grid;
  gap: 10px 20px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: dense;
  justify-self: space-between;
}

.card {
  background-color: #101117;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 10px 10px;
}

.card1 {
  display: grid;
  grid-column: 1/2;
}

.card2 {
  display: grid;
  grid-column: 2/3;
}

.card3 {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/2;
}

.card4 {
  display: grid;
  grid-row: 2 /3;
  grid-column: 2/3;
}

.card5 {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/4;
}

.card_img {
  width: 100%;
  height: 100%;
}

.card_img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card:hover {
  background-color: rgba(122, 162, 247, 0.484);
  color: #e8e8e8;
  transform: scale(1.1);
  transition: 300ms;
}